In [6]:
import pandas as pd
df=pd.read_csv('산업통상자원부_전국 주유소 등록현황_20211231.csv',encoding='cp949')
test_df = df[df['소재지'].str.contains('용인시')]
test_df
total_df = test_df[~test_df['구분'].str.contains('휴업')]
total_df1= total_df[~total_df['구분'].str.contains('폐업')]
result=total_df1[~total_df1['구분'].str.contains('등록취소')]
result.to_csv('등록된주유소.csv')

In [7]:
# test_df.to_csv('용인시 신규등록주유소.csv',encoding='utf-8')
import csv
with open('등록된주유소.csv','r') as f:
    reader=csv.reader(f)
    for row in reader:
        print(row)


#f=open("용인시 등록된 주유소 최종.csv",'r')

['', '연도', '변동사유발생연월일', '판매업종류', '구분', '업체명', '소재지']
['652', '2015', '2015-08-11', '주유소', '신규등록', 'SK신갈주유소', '경기도 용인시 기흥구 용구대로 2245']
['761', '2015', '2015-09-18', '주유소', '신규등록', '옥토끼주유소', '경기도 용인시 기흥구 용구대로 1991']
['1537', '2016', '2016-08-25', '주유소', '신규등록', '서일석유(주)용인서일주유소', '경기도 용인시 기흥구 신수로70(신갈동)']
['1731', '2016', '2016-12-23', '주유소', '신규등록', '포곡농협주유소', '경기도 용인시 처인구 포곡읍 포곡로246번길 8']
['2024', '2017', '2017-05-24', '주유소', '신규등록', '용인대주유소', '경기도 용인시 처인구 이동면 서리 644-4외 1필지']
['2421', '2017', '2017-12-05', '주유소', '신규등록', '포곡농협가득채움주유소', '경기도 용인시 처인구 포곡읍 석성로 871']
['2546', '2018', '2018-01-24', '주유소', '신규등록', '행복주유소', '경기도 용인시 기흥구 보정동408-3']
['2762', '2018', '2018-04-27', '주유소', '신규등록', '동탄행복셀프주유소', '경기도 용인시 기흥구 공세동 산21 (161-7번지)']
['2964', '2018', '2018-07-11', '주유소', '신규등록', '갑점주유소', '경기도 용인시 처인구 중부대로1653 (마평동)']
['3406', '2018', '2018-12-04', '주유소', '신규등록', '오션네트웍스주식회사(용인지점)', '경기도 용인시 기흥구 보정동1057-3']
['3544', '2019', '2019-01-29', '주유소', '신규등록', '보정꽃길주유소', '경기도 용인시 기흥구 용구대로 2469번길 153(보정동)']
['3789', '2019', '2019-05-22', '주유소', '신규등록', '㈜알앤제이 한숲시티주유소', '용인시 처인구 남사면 완장리 498,497-6']
['4136', '2019', '2019-10-15', '주유소', '신규등록', '채움주유소', '용인시 처인구 남사면 통삼리 811']
['4329', '2019', '2019-12-30', '주유소', '신규등록', '청명산주유소', '용인시 기흥구 청명산로 1(하갈동)']
['4464', '2020', '2020-02-24', '주유소', '신규등록', '(주)기흥산업(기흥에너지self주유소)', '용인시 기흥구 용구대로 1624(공세동)']
['4529', '2020', '2020-03-26', '주유소', '신규등록', '(주)에스에이치에너지 신갈현대셀프주유소', '경기도 용인시 기흥구 신수로 69 (신갈동)']
['4657', '2020', '2020-05-18', '주유소', '신규등록', '서천신도시 주유소', '용인시 기흥구 농서동 411']
['4721', '2020', '2020-06-17', '주유소', '신규등록', '동림셀프주유소', '경기도 용인시 처인구 양지면 중부대로 1955']
['4863', '2020', '2020-08-25', '주유소', '신규등록', '황금주유소', '용인시 처인구 남사면 경기동로 293']
['4870', '2020', '2020-08-26', '주유소', '신규등록', '알래스카주유소', '용인시 처인구 포곡읍 백옥대로 1700']
['4871', '2020', '2020-08-26', '주유소', '신규등록', '원삼그린주유소', '경기도 용인시 처인구 원삼면 독성리 551-6']
['4881', '2020', '2020-08-28', '주유소', '신규등록', '(주)에스엠서비스토탈 기흥꽃길주유소', '경기도 용인시 기흥구 용구대로 1701']
['5323', '2021', '2021-03-04', '주유소', '신규등록', '오션네트웍스(주)동백지점', '경기도 용인시 기흥구 석성로 666(동백동)']
['5527', '2021', '2021-05-31', '주유소', '신규등록', '남사대로주유소', '경기도 용인시 처인구 남사읍 용구대로202']

FileNotFoundError: ignored

In [8]:
#폐주유소
close_= test_df[test_df['구분'].str.contains('폐업')]
close_.to_csv('폐업주유소.csv',encoding='utf-8')
close_

,연도,변동사유발생연월일,판매업종류,구분,업체명,소재지
600,2015,2015-07-28,주유소,폐업,창대주유소,경기도 용인시 처인구 백옥대로753 (이동면)
605,2015,2015-07-29,주유소,폐업,SK양지주유소,경기도 용인시 처인구 양지로117 (양지면)
894,2015,2015-11-11,주유소,폐업,성복주유소,경기도 용인시 수지구 수지로112번길29 (성복동
937,2015,2015-11-27,주유소,폐업,SK네트웍스㈜ SK사이버주유소,경기도 용인시 수지구 수지로138 (성복동)
2006,2017,2017-05-11,주유소,폐업,동백제일주유소,경기도 용인시 기흥구 동백죽전대로497 (동백동)
2027,2017,2017-05-25,주유소,폐업,구성주유소,경기도 용인시 기흥구 용구대로2432 (마북동)
2073,2017,2017-06-19,주유소,폐업,(주)시아이에스 태양주유소,경기도 용인시 수지구 용구대로2772번길3-5 (죽전동)
2184,2017,2017-08-02,주유소,폐업,SK네트웍스(주) 동백팰리스주유소,경기도 용인시 기흥구 동백죽전대로521 (동백동)
2478,2018,2018-01-02,주유소,폐업,동경주유소,경기도 용인시 처인구 백옥대로1836 (포곡읍)
2511,2018,2018-01-11,주유소,폐업,가야주유소,경기도 용인시 처인구 좌전로69 (원삼면)
2957,2018,2018-07-09,주유소,폐업,강남주유소,경기도 용인시 기흥구 중부대로421 (신갈동)
3636,2019,2019-03-19,주유소,폐업,(주)소모에너지엔테크놀러지 민속촌주유소,경기도 용인시 기흥구 용구대로1857 (하갈동)
4373,2020,2020-01-13,주유소,폐업,롯데마트(수지점)행복드림 주유소,경기도 용인시 기흥구 진산로116 (보정동)
4904,2020,2020-09-09,주유소,폐업,포곡농협주유소,기도 용인시 처인구 포곡읍 포곡로246번길 8
4912,2020,2020-09-10,주유소,폐업,포곡농협주유소,경기도 용인시 처인구 포곡읍 포곡로246번길 8
5228,2021,2021-01-15,주유소,폐업,반도주유소,경기도 용인시 수지구 신수로683번길11 (풍덕천동)
5554,2021,2021-06-09,주유소,폐업,효성주유소,경기도 용인시 기흥구 덕영대로1800 (하갈동)
5898,2021,2021-10-26,주유소,폐업,(주)서진주유소 용인지점,경기도 용인시 처인구 백옥대로2529 (모현읍)
5950,2021,2021-11-10,주유소,폐업,북리주유소,경기도 용인시 처인구 경기동로117 (남사읍)
5955,2021,2021-11-11,주유소,폐업,상미주유소,경기도 용인시 기흥구 신정로57 (신갈동)

In [9]:
#naver map api key
client_id = 'cid';    # 본인이 할당받은 ID 입력
client_pw = 'cpw';    # 본인이 할당받은 Secret 입력

api_url = 'https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query='

# 주소 목록 파일 (.csv)
# with open('./Bigcon_data/echarge_yongin.pkl','rb') as f:
#     data=pickle.load(f)


# 네이버 지도 API 이용해서 위경도 찾기
geo_coordi = []     
for add in close1['소재지']:
    add_urlenc = parse.quote(add)
    url = api_url + add_urlenc
    request = Request(url)
    request.add_header('X-NCP-APIGW-API-KEY-ID', client_id)
    request.add_header('X-NCP-APIGW-API-KEY', client_pw)
    try:
        response = urlopen(request)
    except HTTPError as e:
        print('HTTP Error!')
        latitude = None
        longitude = None
    else:
        rescode = response.getcode()
        if rescode == 200:
            response_body = response.read().decode('utf-8')
            response_body = json.loads(response_body)   # json
            if response_body['addresses'] == [] :
                print("'close1' not exist!")
                latitude = None
                longitude = None
            else:
                latitude = response_body['addresses'][0]['y']
                longitude = response_body['addresses'][0]['x']
                print("Success!")
        else:
            print('Response error code : %d' % rescode)
            latitude = None
            longitude = None

    geo_coordi.append([latitude, longitude])


np_geo_coordi = np.array(geo_coordi)
close1['위도']=np_geo_coordi[:, 0]
close1["경도"]= np_geo_coordi[:, 1]
pd_geo_coordi = pd.DataFrame({"소재지": close1['소재지'].values,
                              "위도": np_geo_coordi[:, 0],
                              "경도": np_geo_coordi[:, 1]})

pd_geo_coordi.to_csv('폐업주유소 좌표.csv')

NameError: ignored

In [ ]:
import pandas as pd
df=pd.read_csv('신규등록주유소 (1).csv',encoding='cp949')
df=df.astype({'위도':'float32'})
df=df.astype({'경도':'float32'})
df.to_csv('등록된주유소.csv',encoding='utf-8')
# df.info()

In [ ]:
import pandas as pd
gf=pd.read_csv('폐업주유소.csv',encoding='cp949')

gf=gf.astype({'위도':'float32'})
gf=gf.astype({'경도':'float32'})

gf.to_csv('폐업주유소결과.csv',encoding='utf-8')